In [1]:
import pandas as pd
import numpy as np

In [2]:
def load_and_process(url_or_path_to_csv_file):

    df1 = (
        pd.read_csv(url_or_path_to_csv_file, encoding = 'unicode_escape')
      )
    df2 = (
        df1
        .drop(columns = ['INCIDENT_NUMBER', 'REPORTING_AREA', 'DAY_OF_WEEK', 'UCR_PART', 'Location', 'OFFENSE_DESCRIPTION', 'Lat', 'Long', 'HOUR', 'OCCURRED_ON_DATE', 'OFFENSE_CODE'])
      )
    df3 = (
         df2
        ['SHOOTING']
        .replace(np.nan, 'N', inplace = True)
     )
    df4 = (
        df2
        .dropna()
    )

    # Make sure to return the latest dataframe

    return df4

In [3]:
DATA = load_and_process("../../data/raw/crime.csv")
DATA

          OFFENSE_CODE_GROUP DISTRICT SHOOTING  YEAR  MONTH             STREET
0                    Larceny      D14        N  2018      9         LINCOLN ST
1                  Vandalism      C11        N  2018      8           HECLA ST
2                      Towed       D4        N  2018      9        CAZENOVE ST
3       Investigate Property       D4        N  2018      9         NEWCOMB ST
4       Investigate Property       B3        N  2018      9           DELHI ST
...                      ...      ...      ...   ...    ...                ...
319068       Warrant Arrests       D4        N  2016      6        COVENTRY ST
319069              Homicide      E18        N  2015      7           RIVER ST
319070       Warrant Arrests      E18        N  2015      7           RIVER ST
319071       Warrant Arrests      E13        N  2016      5  NEW WASHINGTON ST
319072       Warrant Arrests       D4        N  2015      6      WASHINGTON ST

[307484 rows x 6 columns]